# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.venv/
.env/        # <-- ignore your environment file
*.env        # <-- ignore any other env files

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
